<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ชิมช้อปใช้</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- Style sheet -->
    <link rel="stylesheet" href="style.css">
    <!-- Vue.js -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <!-- Axios -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>
<body>
    <div id="app" class="m-0 p-0">
        <nav class="navbar navbar-expand-sm navbar-light bg-white fixed-top headerbar">
            <img class="d-block d-sm-none navBrand" src="https://www.ชิมช้อปใช้.com/img/logo/footer.png" alt="ชิมช้อปใช้">
            <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            
            <div class="collapse navbar-collapse " id="navbarToggler">
                <ul class="navbar-nav m-auto">
                    <li class="nav-item p-3" v-for="item in navbarItems">
                        <a class="header-link" v-bind:href="item.href">{{ item.label }}</span></a>
                    </li>
                </ul>
            </div>
        </nav>

        <div id="cover">
            <div class="row m-0 p-0">
                <div class="col-4 cover-img-1"></div>
                <div class="col-4 cover-img-2">
                    <div class="row justify-content-center align-items-center h-100">
                        <div class="col-12 text-center">
                            <img class="d-none d-md-block mx-auto cover-md" src="https://www.ชิมช้อปใช้.com/img/logo/banner.png" alt="ชิมช้อปใช้">
                            <img class="d-block d-md-none mx-auto cover-sm" src="https://www.ชิมช้อปใช้.com/img/logo/banner.png" alt="ชิมช้อปใช้">
                        </div>
                    </div>
                </div>
                <div class="col-4 cover-img-3"></div>
            </div>
        </div>

        <div id="register">
            <div class="container-fluid">
                <div class="row">
                    <div class="text-center col-12 bold">ตั้งแต่วันที่</div>
                    <div v-html="duration" class="text-center header-title-1 bold col-12"></div>
                    <div class="col-12 text-center">
                        <a v-bind:href="navbarItems[0].href" class="text-center">
                            <button class="btn btn-blue">
                                ลงทะเบียน เฟส 2<br>ตั้งแต่วันที่ 24 ต.ค.62 วันละ 2 รอบ เวลา 6.00 และ 18.00 น.<br>(จำกัดจำนวนผู้ลงทะเบียนรอบละ 5 แสนคน รวม 1 ล้านคนต่อวัน)
                            </button>
                            <hr class="d-none d-md-block position-relative" style="bottom: 40px; z-index: -1">
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div id="content">
            <div class="container">
                <div class="header-title-2 bold">มาตรการส่งเสริมการบริโภค<br>ในประเทศ “ชิมช้อปใช้”</div>
                <div v-html="detail" class="my-4"></div>
                <div class="bold-body bold my-2">เงื่อนไขการเข้าร่วมมาตรการ</div>
                <div v-html="condition"></div>
            </div>

        </div>

        <section id="callcenter">
            <div class="container content">
                <div class="row">
                    <div class="col-sm-12 col-md-4 col-lg-4 text-center">
                        <a href="tel:021111144"><img class="callcenter-logo" src="https://www.ชิมช้อปใช้.com/img/Banner_KTB_SQ.png" alt="KTB 021111144"></a>
                    </div>
                    <div class="col-sm-12 col-md-4 col-lg-4 text-center">
                        <a href="tel:022706400p7"><img class="callcenter-logo" src="https://www.ชิมช้อปใช้.com/img/Banner_CGD_Sq.png" alt="CGD 022706400 กด 7"></a>
                    </div>
                    <div class="col-sm-12 col-md-4 col-lg-4 text-center">
                        <a href="tel:1672"><img class="callcenter-logo" src="https://www.ชิมช้อปใช้.com/img/Banner_TAT_Hotline_Sq.png" alt="Tourist 1672"></a>
                    </div>
                </div>
            </div>
        </section>

        <section id="brand-logo">
            <div class="container content">
                <div class="row">
                    <a href="https://www.mof.go.th/th/home" class="col-4 col-sm-2 text-center">
                        <img class="logo" src="https://www.ชิมช้อปใช้.com/img/brand-logo/MOF.png" alt="กระทรวงการคลัง">
                    </a>
                    <a href="http://www.fpo.go.th/main" class="col-4 col-sm-2 text-center">
                        <img class="logo" src="https://www.ชิมช้อปใช้.com/img/brand-logo/FPO.png" alt="สศค.">
                    </a>
                    <a href="https://www.cgd.go.th/cs/internet/internet/%E0%B8%AB%E0%B8%99%E0%B9%89%E0%B8%B2%E0%B8%AB%E0%B8%A5%E0%B8%B1%E0%B8%812.html?page_locale=th_TH" class="col-4 col-sm-2 text-center">
                        <img class="logo" src="https://www.ชิมช้อปใช้.com/img/brand-logo/CGD.png" alt="กรมบัญชีกลาง">
                    </a>
                    <a href="https://www.newcb.ktb.co.th/" class="col-4 col-sm-2 text-center">
                        <img class="logo" src="https://www.ชิมช้อปใช้.com/img/brand-logo/Krungthai.png" alt="ธนาคารกรุงไทย">
                    </a>
                    <a href="https://www.mots.go.th/" class="col-4 col-sm-2 text-center">
                        <img class="logo" src="https://www.ชิมช้อปใช้.com/img/brand-logo/MOTS.png" alt="กระทรวงการท่องเที่ยวและกีฬา">
                    </a>
                    <a href="https://landing.tourismthailand.org/" class="col-4 col-sm-2 text-center">
                        <img class="logo" src="https://www.ชิมช้อปใช้.com/img/brand-logo/TAT.png" alt="ททท">
                    </a>
                </div>
            </div>
        </section>

        <section id="footer">
            <div class="footer-white mb-0">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12 col-md-3">
                            <img class="footer-brand" src="https://www.ชิมช้อปใช้.com/img/logo/footer.png" alt="ชิมช้อปใช้">
                        </div>
                        
                        <div class="col-md-3 col-sm-4 col-xs-12 footer-hero">
                            <span class="red">ข้อมูลลงทะเบียนประชาชน</span><br>
                            การรับสิทธิ การใช้งานแอปพลิเคชั่น “เป๋าตัง” และ “ถุงเงิน”<br>
                            ติดต่อ ชิมช้อปใช้ Call Center by Krungthai โทร.<a href="tel:021111144">0 2111 1144</a>
                        </div>
                        
                        <div class="col-md-3 col-sm-4 col-xs-12 footer-hero">
                            <span class="red">ข้อมูลลงทะเบียนผู้ประกอบการ</span><br>
                            เงื่อนไขและวิธีการเข้าร่วมมาตรการฯ<br>
                            ติดต่อ โทร. <a href="022706400p7">0 2270 6400 กด 7</a>
                        </div>
                        <div class="col-md-3 col-sm-4 col-xs-12 footer-hero">
                            <span class="red">ข้อมูลเที่ยวชิมช้อปใช้</span><br>
                            ติดต่อ ททท.<br>
                            โทร<a href="tel:1672">1672</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container-fluid footer-blue bold p-2">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12 col-md-3 col-lg-3">Copyright © 2003-2019</div>
                        
                        <div class="col-sm-12 col-md-9 col-lg-9">
                            <ul class="nav row justify-content-between">
                                <li class="nav-item col-sm-4 col-md-4 col-lg-4" v-for="item in footerItems">
                                    <a class="footer-link" v-bind:href="item.href">{{ item.label }}</span></a>
                                </li>
                            </ul>
                        </div>

                    </div>

                </div>
            </div>
        </section>
    </div>

    <script>
        let app = new Vue ({
            el: '#app',
            data () {
                return {
                    navbarItems: Array,
                    duration: String,
                    detail: String,
                    condition: String,
                    footerItems: [{label:'ลงทะเบียนเข้าร่วมมาตรการ', href: ''}, 
                                {label:'ขั้นตอนการเข้าร่วมทั้งหมด', href: ''}, 
                                {label:'รายชื่อร้านค้าที่เข้่าร่วมรายการ', href: ''}]
                }
            },
            mounted () {
                axios
                    .get('https://panjs.com/ywc.json')
                    .then(response => {
                        this.navbarItems = response.data.navbarItems;
                        this.duration = response.data.duration;
                        this.detail = response.data.detail;
                        this.condition = response.data.condition;
                    })
                    .catch(error => console.log(error))
                
                for(i=0; i<this.navbarItems.length; i++) {
                    this.footerItems[i].href = this.navbarItems[i].href;
                }
            }
        });
    </script>

    <script src="https://kit.fontawesome.com/dc07fede22.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>