@font-face {
    font-family: TATSanaChon;
    src: url("/fonts/TATSanaChon-Regular.woff2") format("woff2");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: TATSanaChonBold;
    src: url('/fonts/TATSanaChon-Bold.woff2') format('woff2');
    font-weight: 600;
    font-style: bold;
}

@font-face {
    font-family: TATSanaSuksa;
    src: url('/fonts/TATSanaSuksa-Regular.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
}

body {
    font-family: TATSanaChon, sans-serif;
    font-size: 16px;
    color: #333333;
    line-height: 1.8;
}

.bold {
    font-family: TATSanaChonBold;
}

.navBrand {
    width: 35px;
    height: 48px;
}

.headerbar {
    box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.1);
}

@media (max-width:575.98px) {
    .header-title-1 {
        color: red;
        font-size: 30px;
    }

    .header-title-2 {
        color: red;
        font-size: 24px;
    }
}

@media (max-width:767.98px) {
    .header-title-1 {
        color: red;
        font-size: 36px;
    }

    .header-title-2 {
        color: red;
        font-size: 24px;
    }
}

@media (min-width:767.98px) {
    .header-title-1 {
        color: red;
        font-size: 48px;
    }

    .header-title-2 {
        color: red;
        font-size: 36px;
    }
}


@media (max-width:575.98px) {
    .cover-img-1 {
        background-image: url('https://www.xn--b3caa1e2a7e2b0h2be.com/img/hero_banner/banner-left.png');
        background-size: 100% 100%;
        height: 221px;
    }
    .cover-img-2 {
        background-image: url('https://www.xn--b3caa1e2a7e2b0h2be.com/img/hero_banner/banner-center.png');
        background-size: 100% 100%;
        height: 221px;
    }
    .cover-img-3 {
        background-image: url('https://www.xn--b3caa1e2a7e2b0h2be.com/img/hero_banner/banner-right.png');
        background-size: 100% 100%;
        height: 221px;
    }
}

@media (max-width:767.98px) {
    .cover-img-1 {
        background-image: url('https://www.xn--b3caa1e2a7e2b0h2be.com/img/hero_banner/banner-left.png');
        background-size: 100% 100%;
        height: 242px;
    }
    .cover-img-2 {
        background-image: url('https://www.xn--b3caa1e2a7e2b0h2be.com/img/hero_banner/banner-center.png');
        background-size: 100% 100%;
        height: 242px;
    }
    .cover-img-3 {
        background-image: url('https://www.xn--b3caa1e2a7e2b0h2be.com/img/hero_banner/banner-right.png');
        background-size: 100% 100%;
        height: 242px;
    }
}

@media (min-width:767.98px) {
    .cover-img-1 {
        background-image: url('https://www.xn--b3caa1e2a7e2b0h2be.com/img/hero_banner/banner-left.png');
        background-size: 100% 100%;
        height: 350px;
    }
    .cover-img-2 {
        background-image: url('https://www.xn--b3caa1e2a7e2b0h2be.com/img/hero_banner/banner-center.png');
        background-size: 100% 100%;
        height: 350px;
    }
    .cover-img-3 {
        background-image: url('https://www.xn--b3caa1e2a7e2b0h2be.com/img/hero_banner/banner-right.png');
        background-size: 100% 100%;
        height: 350px;
    }
}

.cover-md {
    width: 240px;
}

.cover-sm {
    width: 106px;
}

@media (min-width:767.98px) {
    .btn-blue {
        color: #fff;
        background-color: #213A8F;
        width: 800px;
        font-size: 24px;
        padding: 10px;
    }
}

@media (max-width:767.98px) {
    .btn-blue {
        color: #fff;
        background-color: #213A8F;
        width: 800px;
        font-size: 18px;
        padding: 10px;
    }
}

@media (max-width:575.98px) {
    .btn-blue {
        color: #fff;
        background-color: #213A8F;
        width: 94vw;
        font-size: 18px;
        padding: 10px;
    }
}

.btn-blue:hover {
    color: #fff;
    background-color: #ffc107;
}

@media (max-width:575.98px) {
    .btn-blue-white {
        color: #213A8F;
        background-color: #fff;
        border: 4px solid #213A8F;
        width: 94vw;
        font-size: 16px;
        padding: 6px 12px;
    }
}

@media (max-width:575.98px) {
    .btn-white-blue {
        color: #213A8F;
        background-color: #fff;
        border: 4px solid #213A8F;
        width: 94vw;
        font-size: 16px;
        padding: 6px 12px;
    }
}

@media (min-width:767.98px) {
    .btn-blue-white {
        color: #213A8F;
        background-color: #fff;
        border: 4px solid #213A8F;
        width: 176px;
        font-size: 18px;
        padding: 6px 12px;
    }
}

@media (min-width:767.98px) {
    .btn-white-blue {
        color: #213A8F;
        background-color: #fff;
        border: 4px solid #213A8F;
        width: 308px;
        font-size: 18px;
        padding: 6px 12px;
    }
}

@media (max-width:991.98px) {
    .btn-blue-white {
        color: #213A8F;
        background-color: #fff;
        border: 4px solid #213A8F;
        font-size: 18px;
        width: 176px;
        padding: 6px 12px;
    }

    .btn-white-blue {
        color: #213A8F;
        background-color: #fff;
        border: 4px solid #213A8F;
        width: 270px;
        font-size: 18px;
        padding: 6px 12px;
    }
}

@media (min-width:991.98px) {
    .btn-blue-white {
        color: #213A8F;
        background-color: #fff;
        border: 4px solid #213A8F;
        font-size: 16px;
        width: 176px;
        padding: 6px 12px;
    }

    .btn-white-blue {
        color: #213A8F;
        background-color: #fff;
        border: 4px solid #213A8F;
        width: 308px;
        font-size: 18px;
        padding: 6px 12px;
    }
}

.btn-blue-white:hover {
    color: #fff;
    background-color: #213A8F;
}

.header-link {
    color: #333333;
    text-decoration: none;
}
.header-link:hover {
    color: #213A8F;
    text-decoration: none;
    border-bottom: 5px solid #213A8F;
}
.header-link::after {
    color: #213A8F;
    text-decoration: none;
}

.end-content {
    color: #333333;
    font-size: 18px;
}

.end-content-danger {
    color: #E6332A;
    font-size: 18px;
}

.store {
    width: 168px;
}

@media (max-width:575.98px) {
    .logo {
        width: 56px;
    }
}

@media (min-width:575.98px) {
    .logo {
        width: 102px;
    }
}

.logo {
    border-style: none;
    transition: 0.3s linear;
}

.logo:hover {
    transform: scale(1.2);
}

.footer-white {
    background: #FAFAFA;
    padding: 30px;
    font-size: 14px;
    color: #333333;
}

.footer-hero span {
    color: #E6332A;
}

.footer-hero a {
    color: #333333;
}

.footer-hero a:hover {
    color: #333333;
    text-decoration: none;
}

.footer-brand {
    width: 108px;
}

.footer-blue {
    font-size: 12px;
    background: #213A8F;
    color: #fff;
    margin: 0;
    padding: 0;
}

.footer-blue a {
    color: #fff;
}

.footer-blue a:hover {
    text-decoration: none;
}